{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Livros{% endblock %}</h1>
    {% if g.user %}
        <a class='action' href="{{ url_for('biblioteca.create_book') }}">Adicionar Livro</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for livro in livros %}
        <article class="livro">
            <header>
                <div>
                    <h1>{{ livro['titulo'] }}</h1>
                    <div class="about">
                        de {{ livro['username'] }} escrito por {{ livro['autores'] }} na {{ livro['edicao'] }} edi&ccedil;&atilde;o lan&ccedil;ado pela editora {{ livro['editora'] }}<br/>
                        <a class="action" href="{{ url_for('capitulos.capitulos_livro', id=livro['id']) }}">Ver capítulos</a>
                    </div>
                </div>
                {% if g.user['user_id'] == livro['user_id'] %}
                    <a class="action" href="{{ url_for('biblioteca.atualiza', id=livro['id']) }}">Atualizar</a><br/>
                {% endif %}
            </header>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    <p class="body"><a href="{{ url_for('link.listar_links') }}">Links</a></p>
{% endblock %}
