{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Editar livro "{{ livro['titulo'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="titulo">Título</label>
        <input name="titulo" id="titulo" value="{{ request.form['titulo'] or livro['titulo'] }}" required>
        <label for="editora">Editora</label>
        <input name="editora" id="editora" value="{{ request.form['editora'] or livro['editora'] }}" >
        <label for="edicao">Edição</label>
        <input name="edicao" id="edicao" value="{{ request.form['edicao'] or livro['edicao'] }}" >
        <label for="autores">Autores</label>
        <input name="autores" id="autores" value="{{ request.form['autores'] or livro['autores'] }}" required>
        <input type="submit" value="Salvar">
        <hr>
    </form>
    <form action="{{ url_for('biblioteca.delete', id=livro['id']) }}" method="post">
        <input class="danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza??');">
    </form>
{% endblock %}