{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Novo Livro{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="titulo">Título</label>
        <input name="titulo" id="titulo" value="{{ request.form['titulo'] }}" required>
        <label for="editora">Editora</label>
        <input name="editora" id="editora" value="{{ request.form['editora'] }}" >
        <label for="edicao">Edição</label>
        <input type="number" name="edicao" id="edicao" value="{{ request.form['edicao'] }}" >
        <label for="autores">Autores</label>
        <input name="autores" id="autores" value="{{ request.form['autores'] }}" required>
        <input type="submit" value="Salvar">
    </form>
{% endblock %}