{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Registrar{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="username">Nome de usuário</label>
        <input name="username" id="username" required>
        <label for="passw">Password</label>
        <input type="password" name="passw" id="passw" required>
        <input type="submit" value="Registrar">
    </form>
{% endblock %}