{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Alterando a nota{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="pag">A anotação será sobre qual página?</label>
        <input type="number" name="pag" id="pag" value="{{ request.form['pag'] or nota['not_pagina'] }}" required>
        <label for="minhanota">Nota</label>
        <textarea name="minhanota" id="minhanota" required>{{ request.form['minhanota'] or nota['nota'] }}</textarea>
        <input type="submit" value="Salvar">
    </form>
    <form action="{{ url_for('notas.delete', idCapitulo=nota['idcapitulo'], id=nota['id']) }}" method='post'>
        <input class="danger" type="submit" value="Apagar" onClick="return confirm('Tem certeza?');">
    </form>
{% endblock %}