{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Nova nota do capítulo{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="pagina">A anotação será sobre qual página?</label>
        <input type="number" name="pagina" id="pagina" required>
        <label for="nota">Descrição da anotação</label>
        <textarea name="nota" id="nota" required></textarea>
        <input type="submit" value="Salvar">
    </form>
{% endblock %}