{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Alterando a anotação do link {{ link['link'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="anotacao">Nota</label>
        <textarea name="anotacao" id="anotacao" required>{{ request.form['anotacao'] or link['anotacao'] }}</textarea>
        <input type="submit" value="Salvar">
    </form>
    <form action="{{ url_for('link.delete', id=link['id']) }}" method='post'>
        <input class="danger" type="submit" value="Apagar" onClick="return confirm('Tem certeza?');">
    </form>
{% endblock %}