{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Novo Capítulo do livro{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="pagina">O capítulo inicia na página</label>
        <input type="number" name="pagina" id="pagina" value="{{ request.form['pagina'] or capitulo['pagina'] }}" required>
        <label for="captitulo">Título do capítulo</label>
        <input type="text" name="captitulo" id="captitulo" value="{{ request.form['captitulo'] or capitulo['cap_titulo'] }}" required>
        <input type="submit" value="Salvar">
    </form>
    <form action="{{ url_for('capitulos.delete', idLivro=capitulo['idLivro'], id=capitulo['id']) }}" method="post">
        <input class="danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza??');">
    </form>
{% endblock %}