{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Capitulos do livro <em>{{ capitulos_livro[0]['titulo'] }}</em> {% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('capitulos.capitulos_livro_criar', id=capitulos_livro[0]['idLivro']) }}">Adicionar capitulo</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for capitulo in capitulos_livro %}
        <article class="livro">
            <header>
                <div>
                    <h1>{{ capitulo['cap_titulo'] }}</h1>
                    <div class="about">
                        Capítulo do livro <b>{{ capitulo['titulo'] | truncate(25) }}</b> que inicia na página 
                        <b>{{ capitulo['pagina'] }}</b><br/>
                        <a class="action" href="{{ url_for('notas.notas_capitulo', id=capitulo['id']) }}">Ver anotações</a>
                    </div>
                </div>
                {% if g.user['id'] == capitulo['idUsuario'] %}
                    <a class="action" href="{{ url_for('capitulos.capitulos_livro_alterar', idLivro=capitulo['idLivro'], id=capitulo['id']) }}">Atualizar capítulo</a>
                {% endif %}
            </header>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    <p class="body"><a href="{{ url_for('biblioteca.index') }}">Lista de livros</a></p>
{% endblock %}
