{% extends 'base.html' %}

{% block header %}
    <h1>Não encontrei nenhum capítulo do livro</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('capitulos.capitulos_livro_criar', id=id) }}">Adicionar capitulo</a>
    {% endif %}
{% endblock %}

{% block content %}
    <p>Cadastre um capítulo ao menos</p>
{% endblock %}